<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-posts"><%= link_to "Blogg-poster", casein_posts_path %></li>
<li id="tab-pages"><%= link_to "Sidor", casein_pages_path %></li>
<li id="tab-projects"><%= link_to "Projekt", casein_projects_path %></li>
