/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require owl.carousel
 *= require fancybox
 *= require owl.theme
 */

 @import "bourbon";
 @import "base/base";
 @import "neat";
 @import "fonts";

.outer-wrapper
{
    @include span-columns(12);
    //@include shift(1);
}

body
{
    color: #000000;
    font-family: helveticaneuelight;
    @include font-smoothing();
    @include outer-container();
    font-size: 12pt;
    header
    {
        margin-top: 3em;
        padding-bottom: 3em;
        section.logo
        {
            @include span-columns(4);
            h1
            {
                font-size: 20pt;
            }
        }

        #logo
        {
            width: 221px;
            height: 39px;
        }
        nav
        {
            @include shift(2);
            @include span-columns(6);

            ul
            {
                margin-top: 1em;
                float: right;
                list-style-type: none;

                li
                {
                    margin-left: 2.5em;
                    font-size: 0.9em;

                    li:last-child
                    {
                        margin-right: 0px;
                    }
                    a, a:visited
                    {
                        color: #AAA;
                        font-weight: bold;
                        font-family: helveticaneuelight, Arial, sans-serif;
                        text-transform: uppercase;

                        &:hover
                        {
                            color: #595a5c;
                        }
                    }
                    &.current
                    {
                        a, a:visited
                        {
                            color: #000;
                        }
                    }
                    display: inline;
                }
            }
        }
    }

    main
    {
        margin-top: 3em;

        nav#carousel-control-injection-area
        {
            @include span-columns(12);
            text-align: right;
            margin-bottom: 10px;

            .owl-buttons
            {
                @include span-columns(1.55);
                float: right;
                clear: both;
                color: #AAA;
                font-weight: bold;
                font-family: helveticaneuelight, Arial, sans-serif;
                text-transform: uppercase;
                font-size: 0.75em;

                .owl-prev a, .owl-next a
                {
                    color: #AAA;
                }

                .owl-prev
                {
                    float: left;
                    cursor: pointer;
                    text-align: right;
                    &:before
                    {
                        content: "< ";
                    }

                    &:after
                    {
                        content: " / ";
                    }
                }

                .owl-next
                {
                    float: left;
                    cursor: pointer;
                    text-align: right;
                    &:before
                    {
                        content: "\00a0";
                    }
                    &:after
                    {
                        content: " >";
                    }
                }
            }
        }

        .project-thumb
        {
            @include span-columns(5.9);
            margin: 2.35765%;
            margin-right: calc(2.35765% * 0.85);
            margin-left: 0;

            .drop-panel
            {
                .cap-overlay
                {
                    height: 98%;
                    width: 100%;
                    opacity: 0.5;
                    background: black;

                    h2, h3
                    {
                        font-family: helveticaneueheavy;
                        padding: 10px;
                        text-align: center;
                        padding-bottom: 0px;
                        margin-bottom: 0px;
                        color: white;
                        font-size: 3em;
                        margin-top: calc(50% - 1em);
                    }
                    h3
                    {
                        margin-top: 0;
                        padding-top: 0px;
                        font-size: 1.75em;
                        font-family: helveticaneuelight;
                    }

                }
            }
        }

        .project-thumb:nth-child(2)
        {
            margin-left: calc(2.35765% * 0.85);
            margin-right: 0;
        }

        section.carousel.left, section.carousel.right
        {
            @include span-columns(7);

        }

        section.carousel.right .owl-theme .owl-controls
        {
            text-align: right;
        }

        section.carousel.left .owl-theme .owl-controls, section.carousel.top .owl-theme .owl-controls
        {
            text-align: left;
        }

        section.carousel
        {

            #carousel
            {
                .owl-wrapper
                {
                    .owl-item
                    {
                        max-height: 600px;
                        overflow: hidden;
                        text-align: center;
                        .item img
                        {
                            //margin-top: -100px;
                            height: 100%;
                            width: auto;
                        }
                    }
                }

                .owl-pagination > .owl-page
                {
                    & > span
                    {
                        border: 2.5px solid #959595;
                        width: 16px;
                        height: 16px;
                        background: transparent;
                    }

                    &.active > span
                    {
                        background: #959595;
                    }
                }
            }
        }



        article
        {

            @include span-columns(4);
            &.full-width
            {
                @include span-columns(6);
                margin-top: -10px;
                float: right;

                h1
                {
                    font-size: 2.2em;
                    font-weight: bold;
                }
                h2
                {
                    font-size: 1.1em;
                    color: #555;
                    font-weight: normal;
                }
            }
            h1
            {
                //font-size: 32pt;
                font-size: 2.7em;
                margin-bottom: 0px;
            }

        }

        section.carousel.top
        {
            @include span-columns(12);
            .owl-wrapper-outer
            {
                float: left;
            }
        }
    }
}
